<div class="about-me">
    
     <h1 class="category-title"> Who Am I? </h1>
    
    <div class="row">
        
        <div class="about-container twelve columns">
            <p> Hello, I'm Mehtab Chithiwala. I'm a software developer from Atlanta. I graduated from SPSU in December 2015 and have interned at Home Depot and Georgia Pacific. I am particularly interested in web development and most of my personal projects are based around the web. In my free time, I enjoy watching sports and volunteering around the community. Feel free to connect with me! </p>
    
            <div class="social-container">

                <ul class="social-list">
                    <li ng-repeat="item in social" class="social-icon"><a href="{{item.link}}"><img ng-mouseover="socialHover($index)" ng-mouseleave="socialHoverOff($index)" class="social-img" ng-src="content/images/{{item.name}}" alt="Contact me"/></a></li>
                </ul>

            </div>
            
        </div>
        
    </div>
</div>

<div class="projects">
    
    <h1 class="category-title"> Projects </h1>
    
    <div class="row">
        <div class="project-container twleve columns">
            
            <div ng-click="goTo(item.url)" ng-mouseover="hover($index)" ng-mouseleave="hoverOff($index)" class="project" ng-repeat="item in projects">
                <div class="project-span"> 
                    <h2 class="project-name"> 
                        {{item.name}} 
                    </h2> 
                    
                    <!--<button ng-click="goTo(item.url)" class="project-button button"> View Project </button>-->
                    
                </div>
                
                <div ng-hide="item.hover" class="project-image" ng-style="{'background-image': 'url({{ item.background }})'}">
                
                </div>
                
                <div ng-show="item.hover" class="project-content">
                    <p> {{item.description}} </p>
                    <p> 
                        Made with: 
                        <span class="project-tech"> 
                            {{item.how}} 
                        </span>
                    </p>
                </div>
            
            </div>
            
        </div>
    </div>
    
</div>

<div class="resume">
    
    <h1 class="category-title"> Resume </h1>
    
    <div class="row">
        
        <div class="tweleve columns">
            
            <a href="content/images/Resume.pdf"> <button class="button resume-button"> Download PDF</button> </a>
            
            <div class="education">
                <h4 class="resume-category-title"> Education </h4>
                <ul>
                    <li class="resume-line"> B.S in Computer Science - Southern Polytechnic State University - <span class="bold">4.00 GPA</span> - <span class="blue"> Dec 2015 </span> </li>
                    <li class="resume-line"> Georgia Gwinnett College - <span class="blue"> Dec 2013 </span> </li>
                </ul>
            </div>
            
            <div class="skills">
            
                <h4 class="resume-category-title"> Skills </h4>
                
                <p> <span class="blue"> Languages: </span> Java, Javascript, HTML, CSS, SQL, C++, C# </p>
                <p> <span class="blue"> Frameworks/Libraries: </span> Angular.js, jQuery, Skeleton.css, Meteor.js </p>
                <p> <span class="blue"> Tools: </span> Git/SVN, MySql, Oracle, Eclipse, Brackets, Visual Studio </p>
            </div>
            
            <div class="experience">
            
                <h4 class="resume-category-title"> Experience </h4>
               
                <div class="job" ng-repeat="job in experience">
                    <h4 class="job-title"> {{job.title}}, {{job.company}} - <span class="blue little-title"> {{job.startDate}} - {{job.endDate}} </span></h4>
                    
                    <ul>
                        <li> {{job.bulletOne}} </li>
                        <li> {{job.bulletTwo}} </li>
                        <li> <span class="blue"> Made with: </span> {{job.madeWith}} </li>
                    </ul>
                    
                </div>
                
                
            </div>
        
        
        
        </div>
        
    </div>
</div>