html{
    background-color: black;
}

html {
  position: relative;
  min-height:100%;
}

.container{
    min-width: 100%;  
}

.category-title{
    color: #0093ff;
    padding: 20px;
    text-align: center;
    margin: 0px;
    padding-top: 0px;
}

/* header */

.header{
    text-align: center;
    background-color: white;
    padding: 0px 5px;
}

.title{
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.sub-title{
    font-size: 1.2em;
    color: #0093ff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.nav ul{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0px
}

.nav li{
    list-style: none;
    display: inline;
    margin: 5px;
    font-size: 1.25em;
    color: black;
}

.nav li:hover{
    cursor: pointer;
    border-bottom: 1px solid #0093ff;
    color: #0093ff;
}

.fixed-nav li:hover{
    color: black;
}

.fixed-header{
    position: fixed;
    top: 0;
    padding: 5px 0px;
    background-color: #0093ff;
    color: white;
    width: 100%;
    z-index: 5;
    text-align: center;
}

.fixed-nav{
    padding: 0px;
    margin: 0px;
}

.fixed-nav ul{
    margin: 0px;
    padding: 10px;
}

.fixed-nav li{
    color: white;
}

/*project */

.projects{
    margin: 10px 0px;
    width: 98%;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 0px;
}

.project-container{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.project{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px;
    width: 26%;
    height: auto;
    border-radius: 5px;
}

.project:hover{
    cursor: pointer;
}

.project-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-content{
    min-height: 200px;
    height: auto;
    overflow: hidden;
}

.project-span{
    border-bottom: 1px solid #0093ff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.project-name{
    margin-bottom: 10px;
    color: #0093ff;
}

.project-button{
    color: #0093ff;
}

.project-button:hover{
    background-color: #0093ff;
    color: white;
}

.project-tech{
    color: #0093ff;
    font-weight: bold;
}

/* About Me */

.about-me{
    padding: 30px 20px;
    background-color: #4dacf0;
    color: black;
    margin: 0px;
}

.about-me .category-title{
    color: black;
}

.about-container{
    color: white;
    text-align: left;
}

.about-container p{
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

.social-container{
    text-align: center;
    margin-top: 20px;
}

.social-list{
    margin-bottom: 10px;
}

.social-icon{
    display: inline;
    list-style: none;
    margin: 25px;
    margin-bottom: 0px;
}

.social-img{
    width: 50px;
    height: auto;
}

.social-img:hover{
    cursor: pointer;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Resume */

.resume{
    color: black;
    background-color: white;
    padding: 30px 50px;
}

.resume-button{
    background-color: #0093ff;
    color: white;
}

.resume-category-title{
    margin: 25px 0px;
}

.resume-category-title{
    border-bottom: 1px solid #0093ff;
}

.resume-line{
    margin: 10px 0px;
}

.bold{
    font-weight: bold;
}

.blue{
    color: #0093ff;
    font-weight: bold;
}

.job-title{
    font-size: 1.35em;
}

.little-title{
    font-size: .85em;
}

.job{
    width: 75%;
}

.skills p{
    margin: 10px 0px;
}

p{
    font-size: 1.1em;
}

.experience li{
    font-size: 1.1em;
}

@media (max-width: 800px){
    
    .container{
        margin: 0px;
        width: 100%;
    }
    
    p{
        font-size: 1em;
    }

    .experience li{
        font-size: 1em;
    }
    
    .main-nav ul{
        padding-bottom: 15px;
        padding-top: 10px;
    }
    
    .fixed-nav ul{
        padding: 5px;
    }
    
    .fixed-nav li, .nav li{
        font-size: .95em;
        margin: 3px;
    }
    
    .project-container{
        flex-direction: column;
    }
    
    .project{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    
    .projects .category-title{
        padding-bottom: 10px;
    }
    
    .social-icon{
        margin: 8px;
    }
    
    .social-img{
        width: 32px;
        height: auto;
    }
    
    .about-me{
        padding: 5px;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 25px;
    }
    
    .about-container p{
        width: 90%;
    }
    
    .job{
        width: 100%;
    }
    
    .resume{
        padding: 15px;
        padding-top: 25px;
    }
    
    .projects{
        padding-top: 20px;
    }

    
}

@media (max-width: 550px) {
    
    .container{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    
    .project{
        padding: 10px 15px;
    }

}










